<ion-header>
	<ion-toolbar>
		<ion-buttons slot='end'>
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Alteração de Dados</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content style="padding: 5px;">

	<h1>Altere suas informações <br>de cadastro</h1>

	<div class="login_form">

		<ion-card>
			<ion-card-content>
				Digite o Nome e o CPF novamente.
			</ion-card-content>
		</ion-card>

		<ion-item lines='none'>
			<ion-label position="fixed">Nome: </ion-label>
			<ion-input name='nome' [(ngModel)]='usuario.nome' class='capit' placeholder={{nome}} required></ion-input>
		</ion-item>

		<ion-item lines='none'>
			<ion-label position="fixed">Cpf: </ion-label>
			<ion-input name='cpf' [(ngModel)]="usuario.cpf" placeholder={{cpf}} required> </ion-input>
		</ion-item>

		<!-- <ion-item lines='none'>
			<ion-label position="fixed">Email: </ion-label>
			<ion-input name='email' [(ngModel)]="usuario.email" placeholder={{email}}>
			</ion-input>
		</ion-item> -->

		<div style="margin-top: 15px;">
			<button class="button_verificar" (click)="alterar();">Alterar</button>
		</div>
	</div>

</ion-content>