<ion-content>
	<div class="logo">
		<img src="../../assets/img/logo/LogoFuiClonadoBranco.png" />
	</div>
	<div class="login_form">
		
		<input placeholder="Informe o seu Telefone" name='numero' [(ngModel)]="dto.numero"  />

		<div style="margin-top: 15px;">
			<button class="button_verificar" (click)="logarLocal()">Entrar</button>
		</div>
	</div>

	<ion-card>
		<ion-card-content>
			Caso não tenha acesso ao número de telefone ou e-mail informado no cadastro, clique abaixo!
		</ion-card-content>
	</ion-card>

	<div>
		<div id="recuperei" tappablw (click)="navigate('login')"> > Cadastrar-se novamente</div>
	</div>

</ion-content>