<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot='end'>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Notificar Contatos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="width: 100%; height: 100%;">

        <div class="msg">
            <strong>Notifique 3 contatos</strong>
        </div>

        <ion-card>
            <ion-card-content>
                <ion-input name='nomeClonado0'       [(ngModel)]='sms[0].nomeClonado' type='hidden'>{{sms.nomeClonado}} </ion-input>
                <ion-input name='telefoneClonado0'   [(ngModel)]='sms[0].telefoneClonado' type='hidden'>{{sms.telefoneClonado}} </ion-input>
                    
                <ion-item>
                    <ion-label>Nome: </ion-label>
                    <ion-input name='nome0' [(ngModel)]='sms[0].nome' required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Telefone: </ion-label>
                    <ion-input name='to0' placeholder="(DDD) 99999-9999" required  [(ngModel)]='sms[0].to'></ion-input>
                </ion-item>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-content>
                    <ion-input name='nomeClonado0'       [(ngModel)]='sms[1].nomeClonado' type='hidden'>{{sms.nomeClonado}} </ion-input>
                    <ion-input name='telefoneClonado0'   [(ngModel)]='sms[1].telefoneClonado' type='hidden'>{{sms.telefoneClonado}} </ion-input>
                        
                    <ion-item>
                        <ion-label>Nome: </ion-label>
                        <ion-input name='nome0' [(ngModel)]='sms[1].nome' required></ion-input>
                    </ion-item>
    
                    <ion-item>
                        <ion-label>Telefone: </ion-label>
                        <ion-input name='to0' placeholder="(DDD) 99999-9999" required  [(ngModel)]='sms[1].to'></ion-input>
                    </ion-item>
                    </ion-card-content>
                </ion-card>

                <ion-card>
                    <ion-card-content>
                        <ion-input name='nomeClonado0'       [(ngModel)]='sms[2].nomeClonado' type='hidden'>{{sms.nomeClonado}} </ion-input>
                        <ion-input name='telefoneClonado0'   [(ngModel)]='sms[2].telefoneClonado' type='hidden'>{{sms.telefoneClonado}} </ion-input>
                            
                        <ion-item>
                            <ion-label>Nome: </ion-label>
                            <ion-input name='nome0' [(ngModel)]='sms[2].nome' required></ion-input>
                        </ion-item>
        
                        <ion-item>
                            <ion-label>Telefone: </ion-label>
                            <ion-input name='to0' placeholder="(DDD) 99999-9999" required  [(ngModel)]='sms[2].to'></ion-input>
                        </ion-item>
                        </ion-card-content>
                    </ion-card>

                <div class="card-default-margin card-div-control">
                    <button type="button" class="btn btn-default btn-notificar">
                        <span class="span-enviar" (click)="notificarContatos2()">Notificar contatos</span>
                    </button>
                </div>

    </div> -->


    <!-- <div class="notificar-contatos-container col-12">
        <div class="col-10 col-md-4 col-xs-4 col-sm-4 card notificar-contatos-card">
            <div class="card-body">
                <div class="card-body-container">
                    <div class="card-status-message success-msg"><strong>Notifique 5 números.</strong></div>

                    <ion-item>
                        <ion-label>Nome: </ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Número: </ion-label>
                        <ion-input></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="fixed">Nome: </ion-label>
                        <ion-input></ion-input>

                        <ion-label position="fixed">Número: </ion-label>
                        <ion-input></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="fixed">Nome: </ion-label>
                        <ion-input></ion-input>

                        <ion-label position="fixed">Número: </ion-label>
                        <ion-input></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="fixed">Nome: </ion-label>
                        <ion-input></ion-input>

                        <ion-label position="fixed">Número: </ion-label>
                        <ion-input></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="fixed">Nome: </ion-label>
                        <ion-input></ion-input>

                        <ion-label position="fixed">Número: </ion-label>
                        <ion-input></ion-input>
                    </ion-item>








                    <div class="card-default-margin card-div-control">
                        <button type="button" class="btn btn-default btn-inscrever btn-notificar">
                            <span class="span-enviar" (click)="notificarContatos2()">NOTIFICAR</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="col-12 div-rodape">
        <div class="col-12 div-logo-branco">
            <img class="logo-branco" src="./assets/img/logo/LogoFuiClonadoBranco.png">
        </div>
    </div> -->
<!-- </ion-content> -->