<ion-header>
	<ion-toolbar>
		<ion-buttons slot='end'>
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Boletim de Ocorrência</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	
	<div>
		<div id="FAQ">Polícia Civil</div>
		<div class="title_box">
			Escolha o seu estado
		</div>
	</div>
	<ion-list>
		<select class="MenuBug" onchange="location = this.value;"style="border-top:none; border-right:none; border-left:none;">
			<option disabled selected>Selecione o seu estado:
			 <option value="https://www.delegaciaeletronica.policiacivil.sp.gov.br/ssp-de-cidadao/pages/comunicar-ocorrencia/outras-ocorrencias/triagem-de-vitima">São Paulo</option>
			 <option value="https://dedic.pcivil.rj.gov.br/Questionario.aspx">Rio de Janeiro</option>
			 <option value="https://delegaciavirtual.sids.mg.gov.br/sxgn/">Minas Gerais</option>
			 <option value="https://delegaciaonline.sesp.es.gov.br/deon/xhtml/solicitarregistroocorrencia.jsf">Espírito Santo</option>
			 <option value="https://www.delegaciadigital.ssp.ba.gov.br/OcorrenciaInternet/Bemvindo.ssp;jsessionid=B7AC9E641A2A93C1FF0CF1569F1BFE06">Bahia</option>
			 <option value="https://www.delegaciaonline.rs.gov.br/dol/#!/registro/Ocorr%C3%AAncia/perguntasocorrenciagenerica">Rio Grande do Sul</option>
			 <option value="https://www.policiacivil.pr.gov.br/BO">Paraná</option>
			 <option value="https://raivirtual.ssp.go.gov.br/delegacia-virtual/#/">Goiás</option>
			 <option value="https://delegaciavirtual.sc.gov.br/boletimincluir.aspx?17">Santa Catarina</option>
			 <option value="https://www.delegaciaeletronica.ce.gov.br/beo/noticiante.jsp">Ceará</option>
			 <option value="https://www.delegaciainterativa.am.gov.br/#/boletimocorrencia/form">Amazonas</option>
			 <option value="https://servicos.sds.pe.gov.br/delegacia/">Pernambuco</option>
			 <option value="https://www.delegaciavirtual.pa.gov.br/">Pará</option>
			 <option value="https://portal.sesp.mt.gov.br/delegacia-web/pages/comum/fato.seam?cid=347334">Mato Grosso</option>
			 <option value="http://dv.pc.pi.gov.br/questionario_perda.php">Piauí</option>
			 <option value="https://www.delegaciaonline.pb.gov.br/pages/index.xhtml">Paraíba</option>
			 <option value="https://delegaciaonline.ssp.ma.gov.br/">Maranhão</option>
			 <option value="https://portalcidadao.ssp.se.gov.br/DelegaciaVirtual">Sergipe</option>
			 <option value="https://delegaciavirtual.sinesp.gov.br/portal/">Tocantins</option>
			 <option value="https://delegaciavirtual.sinesp.gov.br/portal/">Alagoas</option>
			 <option value="https://delegaciavirtual.sinesp.gov.br/portal/">Rio Grande do Norte</option>
			 <option value="https://delegaciavirtual.sinesp.gov.br/portal/">Acre</option>
			 <option value="https://delegaciavirtual.sinesp.gov.br/portal/">Amapá</option>
			 <option value="delegaciaonline.rr.gov.br">Raraima</option>
			 <option value="https://www.pcdf.df.gov.br/servicos/delegacia-eletronica/outros-crimes">Distrito Federal</option>
			 <option value="http://delegaciavirtual.pc.ro.gov.br/fato">Rondônia</option>


			</select>

	  </ion-list>

	  <ion-card>
		<ion-card-content>
			Clique no seu estado e faça o Boletim de Ocorrência, é de extrema importância  que você informe a polícia sobre o ocorrido!
		</ion-card-content>
	</ion-card>

</ion-content>