

<ion-header>
    <ion-toolbar>
        <ion-buttons slot='end'>
			<ion-menu-button (click)='resgataDados();'></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>




<ion-content>
	<div style="width: 100%; padding: 5px; ">
		<div id="texto_verifique">CADASTRE O NÚMERO QUE FOI CLONADO ABAIXO</div>
	</div>
	<div id="input_box">
		<input [(ngModel)]="telefone.numero" name='numero' id="input_verificar" placeholder="(**) 99999-9999" />
	</div>
	<div style="width: 100%;">
		<button class="button_verificar" (click)="cadastrar()">Cadastrar</button>
	</div>
</ion-content>